<div class="container">
	<% if !notice.blank? %>
		<div class="alert">
		  <button type="button" class="close" data-dismiss="alert">×</button>
		  <%= notice %>
		</div>
	<% end%>
	<header class="header">
	  <div class="hero-unit">
	  <h1>Omakase!</h1>
	  <p>Chef's Choice, please enjoy the hand picked products.</p>
	</div>
	</header>
	<div class="container-fluid">
	  <% @products.each do |i| %>
	    <a href="/products/<%= i.id%>">
	      <%= image_tag(i.image_url, :class => "img-polaroid thumbnail")%>
	    </a>
	  <% end %>
	</div>
</div>