<div class="awesome-header">
	<div class="container">
		<h1>Omakase!</h1>
		<% if @settings %>
			<p>Chef's Choice, please enjoy the hand picked <%= @settings.product_type %>.</p>
		<% else %>
			<p>Chef's Choice, please enjoy the hand picked products.</p>
		<% end %>
	</div>	
</div>
<div class="container">
	<% if !notice.blank? %>
		<div class="alert">
		  <button type="button" class="close" data-dismiss="alert">×</button>
		  <%= notice %>
		</div>
	<% end%>
	<div class="container-fluid">
	  <% @products.each do |i| %>
	    <a class="image-wrapper center-thumb img-polaroid" href="/products/<%= i.id%>">
	      <%= image_tag(i.image_url(:thumb))%>
	    </a>
	  <% end %>
	</div>
</div>